@import 'variables';

:root {
    font-family: $font-stack;
    background-color: $pale-blue;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("./images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 0;
    width: 22em;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 50px 150px -140px $bright-blue;
    .card-hero-image {
        width: 100%;
        margin-bottom: 1em;
    }
    .card-text-container {
        margin: 0;
        padding: 0;
        h1.card-title {
            color: $dark-blue;
            font-size: 1.5rem;
            font-weight: 900;
        }
        p.card-body {
            color: $desaturated-blue;
            font-size: $paragraph-size;
            margin: 0 2.5em;
            line-height: 1.5em;
        }
    }
    .card-summary {
        display: flex;
        flex-direction: row;
        background-color: $very-pale-blue;
        justify-content: space-between;
        align-items: center;
        margin: 1.5em;
        padding: 1em;
        width: 17em;
        border-radius: 12px;
        .card-summary-image {
            width: 3em;
            height: 3em;
        }
        .card-summary-text-container {
            display: flex;
            flex-direction: column;
            margin: 0 2em 0 0;
            padding: 0;
            font-size: $paragraph-size;
            justify-content: flex-start;
            text-align: start;
            h2.card-summary-title {
                margin: 0;
                padding: 0;
                font-size: 0.95rem;
                font-weight: 900;
                color: $dark-blue;
            }
            p.card-summary-body {
                margin: 0;
                padding: 0;
                font-size: 0.95rem;
                font-weight: 500;
                color: $desaturated-blue;
            }
        }
        a {
            margin: 0;
            padding: 0;
            font-size: 0.9rem;
            font-weight: 700;
            color: $bright-blue;
            &:active {
                color: $active-blue;
            }
        }
    }
    .card-button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 1.5em 0;
        padding: 0;
        .payment-button {
            border: 0;
            margin: 0 0 0.5em;
            padding: 1em 0;
            width: 18em;
            color: $very-pale-blue;
            background-color: $bright-blue;
            font-weight: 900;
            font-family: inherit;
            font-size: $paragraph-size;
            border-radius: 12px;
            box-shadow: 0 12px 30px -15px $bright-blue;
            cursor: pointer;
            &:active {
                background-color: $active-blue;
            }
        }
        .cancel-button {
            border: 0;
            margin: 0 2em;
            padding: 1em 0;
            width: 18em;
            color: $desaturated-blue;
            background: none;
            font-weight: 900;
            font-family: inherit;
            font-size: $paragraph-size;
            cursor: pointer;
            &:active {
                color: $dark-blue;
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    body {
        background-image: url("./images/pattern-background-desktop.svg");
    }

    .card {
        width: 31em;
        .card-text-container {
            h1.card-title {
                font-size: 1.9rem;
            }
            p.card-body {
                margin: 0 4.5em;
            }
        }
        .card-summary {
            margin: 1.5em;
            padding: 1.5em 1.75em;
            width: 22em;
            .card-summary-text-container {
                margin: 0 5em 0 0;
                line-height: 1.75rem;
                h2.card-summary-title {
                    margin: 0;
                    padding: 0;
                    font-size: $paragraph-size;
                    font-weight: 900;
                    color: $dark-blue;
                }
                p.card-summary-body {
                    font-size: $paragraph-size;
                }
            }
            a {
                font-size: $paragraph-size;
            }
        }
        .card-button-container {
            margin: 0 0 1.5em 0;
            padding: 1em 1.75em 1em;
            width: 22em;
            align-items: center;
            .payment-button {
                margin: 0 2em 1em;
                padding: 1em 0;
                width: 24em;
            }
            .cancel-button {
                margin: 0;
                padding: 1em 0;
                width: 24em;
            }
        }
    }
}

footer.attribution {
    //display: none;
    position: fixed;
    bottom: 0;
    margin: 1em;
    padding: 0;
    a {
        color: $bright-blue;
        &:active {
            color: $active-blue;
        }
    }
}
