@import 'variables';

:root {
    font-family: $font-stack;
    background-color: $pale-blue;
    margin: 0;
    padding: 0;
}

/* main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
} */

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 0;
    width: 22em;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    .card-hero-image {
        width: 100%;
    }
    .card-text-container {
        margin: 0;
        padding: 0;
        h1.card-title {
            color: $dark-blue;
            font-size: 1.5rem;
            font-weight: 900;
        }
        p.card-body {
            color: $desaturated-blue;
            font-size: $paragraph-size;
        }
    }
    .card-summary {
        display: flex;
        flex-direction: row;
        background-color: $very-pale-blue;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 1em;
        width: 17em;
        .card-summary-image {
            width: 3em;
            height: 3em;
        }
        .card-summary-text-container {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            font-size: $paragraph-size;
            h2.card-summary-title {
                margin: 0;
                padding: 0;
                font-size: 0.95rem;
                font-weight: 900;
            }
            p.card-summary-body {
                margin: 0;
                padding: 0;
                font-size: 0.95rem;
                font-weight: 500;
            }
        }
        a {
            margin: 0;
            padding: 0;
            font-size: 0.9rem;
            font-weight: 700;
        }
    }
}

footer.attribution {
    display: none;
    margin: 0;
    padding: 0;
}
