:root {
  font-family: "Red Hat Display", sans-serif;
  background-color: hsl(225deg, 100%, 94%);
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("/images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 0;
  width: 22em;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 50px 150px -140px hsl(245deg, 75%, 52%);
}
.card .card-hero-image {
  width: 100%;
  margin-bottom: 1em;
}
.card .card-text-container {
  margin: 0;
  padding: 0;
}
.card .card-text-container h1.card-title {
  color: hsl(223deg, 47%, 23%);
  font-size: 1.5rem;
  font-weight: 900;
}
.card .card-text-container p.card-body {
  color: hsl(224deg, 23%, 55%);
  font-size: 16px;
  margin: 0 2.5em;
  line-height: 1.5em;
}
.card .card-summary {
  display: flex;
  flex-direction: row;
  background-color: hsl(225deg, 100%, 98%);
  justify-content: space-between;
  align-items: center;
  margin: 1.5em;
  padding: 1em;
  width: 17em;
  border-radius: 12px;
}
.card .card-summary .card-summary-image {
  width: 3em;
  height: 3em;
}
.card .card-summary .card-summary-text-container {
  display: flex;
  flex-direction: column;
  margin: 0 2em 0 0;
  padding: 0;
  font-size: 16px;
  justify-content: flex-start;
  text-align: start;
}
.card .card-summary .card-summary-text-container h2.card-summary-title {
  margin: 0;
  padding: 0;
  font-size: 0.95rem;
  font-weight: 900;
  color: hsl(223deg, 47%, 23%);
}
.card .card-summary .card-summary-text-container p.card-summary-body {
  margin: 0;
  padding: 0;
  font-size: 0.95rem;
  font-weight: 500;
  color: hsl(224deg, 23%, 55%);
}
.card .card-summary a {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  font-weight: 700;
  color: hsl(245deg, 75%, 52%);
}
.card .card-summary a:active {
  color: hsl(245deg, 83%, 68%);
}
.card .card-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 1.5em 0;
  padding: 0;
}
.card .card-button-container .payment-button {
  border: 0;
  margin: 0 0 0.5em;
  padding: 1em 0;
  width: 18em;
  color: hsl(225deg, 100%, 98%);
  background-color: hsl(245deg, 75%, 52%);
  font-weight: 900;
  font-family: inherit;
  font-size: 16px;
  border-radius: 12px;
  box-shadow: 0 12px 30px -15px hsl(245deg, 75%, 52%);
  cursor: pointer;
}
.card .card-button-container .payment-button:active {
  background-color: hsl(245deg, 83%, 68%);
}
.card .card-button-container .cancel-button {
  border: 0;
  margin: 0 2em;
  padding: 1em 0;
  width: 18em;
  color: hsl(224deg, 23%, 55%);
  background: none;
  font-weight: 900;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
}
.card .card-button-container .cancel-button:active {
  color: hsl(223deg, 47%, 23%);
}

@media only screen and (min-width: 1440px) {
  body {
    background-image: url("/images/pattern-background-desktop.svg");
  }
  .card {
    width: 31em;
  }
  .card .card-text-container h1.card-title {
    font-size: 1.9rem;
  }
  .card .card-text-container p.card-body {
    margin: 0 4.5em;
  }
  .card .card-summary {
    margin: 1.5em;
    padding: 1.5em 1.75em;
    width: 22em;
  }
  .card .card-summary .card-summary-text-container {
    margin: 0 5em 0 0;
    line-height: 1.75rem;
  }
  .card .card-summary .card-summary-text-container h2.card-summary-title {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 900;
    color: hsl(223deg, 47%, 23%);
  }
  .card .card-summary .card-summary-text-container p.card-summary-body {
    font-size: 16px;
  }
  .card .card-summary a {
    font-size: 16px;
  }
  .card .card-button-container {
    margin: 0 0 1.5em 0;
    padding: 1.5em 1.75em 1em;
    width: 22em;
    align-items: center;
  }
  .card .card-button-container .payment-button {
    margin: 0 2em 1em;
    padding: 1em 0;
    width: 24em;
  }
  .card .card-button-container .cancel-button {
    margin: 0;
    padding: 1em 0;
    width: 24em;
  }
}
footer.attribution {
  position: fixed;
  bottom: 0;
  margin: 1em;
  padding: 0;
}
footer.attribution a {
  color: hsl(245deg, 75%, 52%);
}
footer.attribution a:active {
  color: hsl(245deg, 83%, 68%);
}/*# sourceMappingURL=index.css.map */